<div class="container">
    <div class="row">
        <div class="col-4">
            <h2> To Eat</h2>
            {{#each burger}}
                {{#unless devoured}}
                <h1>{{this.burger_name}}
                    <button class="devour-btn" data-id={{this.id}}>
                        Devour!
                    </button>
                </h1>
                {{/unless}}
            {{/each}}
        </div>
        <div class="col-4"></div>
        <div class="col-4">
            <h2> Eaten</h2>
            {{#each burger}}
                {{#if devoured}}
                <h1>{{this.burger_name}}</h1>
                {{/if}}
            {{/each}}
        </div>
    </div>
</div>